@media  (max-width: 600px) {
.grid_header{
        display: grid;
        width: 100%;
        grid-template-areas:
        'logo menu'
        'search search';
        justify-content: center;
    } 

    .image{
        display: none;
      } 

      .grid_header ul { 
        width: 0px !important;
        height: 0 !important;
        overflow: hidden;
    }
  .menu li a.item {
    color: #fff;

  }

    .grid_header nav:hover ul {
        height: auto !important;
        width:  100vw !important;
    }

    .grid_header nav:hover ul { 
        position: absolute;
        width: 100%;
        left: 0;
        background: #C9C9CE;
        height: calc(100vh - 128px);
        top: 130px;
    }


    .grid_header nav::after {
        content: "";
        position: absolute;
        display: block;
        height: 100px;
        width: 100px;
        background-size: cover;
        background-image: url(../images/Hamburger_icon.svg);
        background-repeat: no-repeat;
        right: 0;
        top: 30px;
    }
    .grid_popular_movies{
        grid-template-columns: repeat(2, 1fr);
    }
    .search{
        width: 100vw;
    }
    .search input{
        width: 60%;
        height: 50px;
            }
    
    .search form{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .centre{
        display: none;
    }

    .movie_block {
        width: 100%;
    }

    .movie_block section {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .movie_block section a {
        padding: 0;
    }

    .movie_block img {
        width: 100%;
        height: auto;
    }
    .grid_footer{
        display: none;
    }
    .headerM{
        width: 100%;
    }
    .headerM nav::after {
        content: "";
        position: absolute;
        display: block;
        height: 100px;
        width: 100px;
        background-size: cover;
        background-image: url(../images/Hamburger_icon.svg);
        background-repeat: no-repeat;
        right: 0;
        top: 30px;
    }
    .menuM li{
        float: none;
    }
    .headerM ul { 
        width: 0px !important;
      height: 0 !important;
      overflow: hidden;
      padding: 0px;
      background-color: none;
  }

  .headerM nav:hover ul {
      height: auto !important;
      width:  100vw !important;
  }

  .headerM nav:hover ul{ 
      position: absolute;
      width: 100%;
      left: 0;
      background: #C9C9CE;
      height: calc(100vh - 128px);
      top: 130px;
  }
  .grid_movieM {
   display: contents;
  }


      .grid_popular_moviesM{
        grid-template-columns: auto auto;
        grid-gap:15px;
      }
      .images_movieM{
width: 254px; 
height: 383px;
      }
    .aboutM{
          width: 100%;
      } 
      .videoM {
    width: 100%;
}
.movie_blockM:nth-child(2) ~ .movie_blockM{
display: none;
}
.movie_blockM img{
    width: 168px;
    height: 240px;
}
 .recomM{
     width: 100%;
 }
 .down_logoM{
    display: none;
 }
.imagesM{
    display: none;
}
.movieM5{
    display: none;
}

.headerF{
    width: 100%;
    justify-content: flex-start;
}
.headerF li{
    float: unset;
}
.headerF nav::after {
    content: "";
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url(../images/Hamburger_icon.svg);
    background-repeat: no-repeat;
    right: 0;
    top: 30px;
}
.headerF ul { 
    width: 0px !important;
  height: 0 !important;
  overflow: hidden;
  padding: 0px;
  background-color: none;
}

.headerF nav:hover ul{
  height: auto !important;
  width:  100vw !important;
}

.headerF nav:hover ul
/* ,header nav:active ul*/ { 
  position: absolute;
  width: 100%;
  left: 0;
  background: #C9C9CE;
  height: calc(100vh - 128px);
  top: 130px;
}
.grid_favorites_movies{
    width: 100%;
}
.about_movieF{
    display: none;
}
.down_logoF{
    display: none;
}
.movie_blockF{
    width: 100%;
}
ol{
 display: grid;
 width: 100%;
 grid-template-columns:70%;
grid-template-areas:
'movie_blockF  '
'movie_blockF  '
'movie_blockF ';
}
.headerA{
    width: 100%;
    display: block;
}
.headerA nav::after {
    content: "";
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url(../images/Hamburger_icon.svg);
    background-repeat: no-repeat;
    right: 0;
    top: 30px;
}
.headerA ul { 
    width: 0px !important;
  height: 0 !important;
  overflow: hidden;
  padding: 0px;
  background-color: none;
}

.headerA nav:hover ul
 {
  height: auto !important;
  width:  100vw !important;
}

.headerA nav:hover ul
 { 
  position: absolute;
  width: 100%;
  left: 0;
  background: #C9C9CE;
  height: calc(100vh - 128px);
  top: 130px;
}
.about_usA p{
   
    width: 100%;
}
.mapA{
    grid-template-columns: none;
    grid-gap: 0px;
}

.aboutF{
    font-size: 30px;
    padding-left: calc(50% - 21px);
}

.mapA {
    display: contents;

  }
.about_usA{
    width: 100%;

}
.img_mapA img {
    width: 312px;
    height: 193px;
}
.we_mapA{
    display: block;
}

.headerH{
    width: 100%;
    justify-content: flex-start;
}
.headerH li{
    float: unset;
}
.headerH nav::after {
    content: "";
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-image: url(../images/Hamburger_icon.svg);
    background-repeat: no-repeat;
    right: 0;
    top: 30px;
}
.headerH ul { 
    width: 0px !important;
  height: 0 !important;
  overflow: hidden;
  padding: 0px;
  background-color: none;
}

.headerH nav:hover ul
 {
  height: auto !important;
  width:  100vw !important;
}

.headerH nav:hover ul
 { 
  position: absolute;
  width: 100%;
  left: 0;
  background: #C9C9CE;
  height: calc(100vh - 128px);
  top: 130px;
}

.containerH{
    margin-left: 0%;
width: 100%;
}
.feedbackH {
    display: block;  
}
.feedbackH a{
    font-size: 1em;
}
}