.star {
	width: 100 px;
    height:20px;
    display:inline-block;
}
.star:not(:checked) > input {
	display: none;
}
.star:not(:checked) > label {
	float: right;
    width: 20px;
   	padding: 0;
	cursor: pointer;
	font-size: 20px;
	line-height: 15px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.star:not(:checked) > label:before {
	content: '★';
}
.star > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.star:not(:checked) > label:hover,
.star:not(:checked) > label:hover ~ label {
	color: gold;
}
.star > input:checked + label:hover,
.star > input:checked + label:hover ~ label,
.star > input:checked ~ label:hover,
.star > input:checked ~ label:hover ~ label,
.star > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.star > label:active {
	position: relative;
}