/* .grid_bodyF{
    display:flex ;
    flex-direction: column;
    align-items: center;
} */
.headerF{
    display:flex ;
    justify-content: center;
   
} 

.headerF ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 15px; 
    overflow: hidden;
    background-color: rgb(214,214,214);
    width: 800px;
    height: 60px; 
    
    
}

 .headerF li {
    float: left;
}

 .headerF li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size:25px;
    font-weight: bold;
    
}

 .headerF li a:hover:not(.active) {
    background-color: #ddd;
}

.headerF li a.active {
    color: #fff;
    background-color: rgb(214,214,214);
}

.down_logoF{
    display: flex;
    justify-content: center;
    padding: 28px;
    
}
.quick_menuF ul {
    list-style-type: none; 
    margin: 0px;
    overflow: hidden;
    background-color:#fff;
    width: 800px;
    height: 60px; 
    /* padding-left: 150px;*/
} 
    

.quick_menuF li {
    float: left;

} 

.quick_menuF li a {
    display: block;
    color:black;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size:25px;
    list-style-type: none;
    font-weight: bold;
}

 ol{
    width:1025px;
    padding: 0;
display: grid;
grid-template-columns: 40% 60%;
grid-template-areas:
'movie_blockF aboutF '
'movie_blockF aboutF'
'movie_blockF aboutF';
   
}

.aboutF{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.movie_imgF{
display: flex;
flex-direction: column;
align-items: center;

}
/* .movie_blockF img{
    align-self: center;
} */


/* .movie_blockF:before {
    content: counter(listNumbering,decimal-leading-zero) '.';
    font-size: 5em;
} */
.movie_blockF {
    font-size: 30px;
    margin: 0 0 0 1em;
    font-weight: bold;
}
.movie_blockF section,
.movie_blockF article {
    font-size: 20px;
}

.grid_bodyF {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .movie_blockF { grid-area:movie_blockF; }
.aboutF { grid-area:aboutF; } */

.aboutF ul{
    list-style-type: none;
    padding: 0px;
}
.aboutF li{
    font-size: 20px;
}
.aboutF span{
    padding-top: 0.5em;
    font-size: 25px;
    padding-right: 2em;
    font-weight: bold;
}
.aboutF a{
    color: #23527c;
    text-decoration: none
}


.iconF{
    display: flex;
    justify-content: end;
    padding-top: 10px;
}
.imagesM{
    padding: 7px;
}
.favoritesF{
    font-size: 42px;
    font-family: Helvetica;
    font-weight: bold;
    padding-top: 1em;
}