.grid_bodyM{
    display:flex ;
    flex-direction: column;
    align-items: center;
}
.headerM{
    display:flex ;
    justify-content: center;
   
} 



.menuM{
    width: 855px;
}

.menuM ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 15px;
    overflow: hidden;
    background-color: rgb(214,214,214);
    width: 100%;
    height: 60px; 
    
    
}

.menuM li {
    float: left;
}

.menuM li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size:25px;
    font-weight: bold;
    
}

.menuM li a:hover:not(.active) {
    background-color: #ddd;
}


.menuM li a.active {
    color: #fff;
    background-color: rgb(214,214,214);
}

.movieM{
    display:flex ;
    justify-content: center;
   }

.grid_movieM{
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-gap: 60px;    
   justify-content: center;}
   

.aboutM{
    display:grid ;
    width: 1000px;

}

.videoM{
    display:flex ;
    justify-content: center;
    width: 1000px;
    height: 360px;

}
.videoM video{
    width: 100%;
}

.grid_popular_moviesM a{
    color:rgb(3,122,255);
    font-size:15px;
    font-weight: bold;
    padding: 15px;
    
}

.grid_popular_moviesM{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;    
    justify-content: center;
}
.recomM{
    display:grid ;


}
.imagesM{
    position: relative;
    top: 20px;
}

.down_logoM{
    display: flex;
    justify-content: center;
    padding: 28px;
    
}

.quick_menuM ul {
    list-style-type: none; 
    margin: 0px;
    overflow: hidden;
    background-color:#fff;
    width: 800px;
    height: 60px; 

} 
    

.quick_menuM li {
    float: left;
} 

.quick_menuM li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size:25px;
    list-style-type: none;
    font-weight: bold;
}