.tip{
    display: grid;
    justify-content: center;
    
    
}
.tip header{
    display: flex;
    justify-content: center;
}


input[type="text"] {
    padding: 1px 2px;
    width: 100%;
    height: 30px;
    border-color: #E6E6E6;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
    outline: none;
}
span{
    font-size: 20px;
    margin-block-end: 8px;
}
fieldset{
    display: grid;
    justify-content: center;
    border: none;
    

}
section{
    display: flex;
}

#tip_calculate{
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    margin: 3px auto;
    background: #2D8EA8;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    border: none;
    outline: none;
    transition: 0.75s;
}
#tip_calculate:hover{
    background-color: #555;
    color: white;
}

.button{
    width: 95px;
    
}


h1{
    text-align: center;
}

@media (max-width: 500px){
    .tip{
        display: grid;
       
    }
    .result_calc {
        margin-top: 0px;
        margin-left: 0px;
    }
    #tip_calculate{
        margin-block-end: 15px;
    }
    span{
        font-size: 17px;
    }
 
    


}